@model Contact

@{
    ViewData["Title"] = "+Add Contact";
}
<h1>Create Contact</h1>
<form method="post" asp-controller="Contact">
    <div class="contactCreationContainer">
        <label asp-for="Name">Name: 
            <input asp-for="Name" type="text" placeholder="Enter Name" required />
        </label>

        <label asp-for="Phone">Phone: 
            <input asp-for="Phone" type="text" placeholder="Enter Phone" required />
        </label>

        <label asp-for="PhoneAlternate">PhoneAlternate: 
            <input asp-for="PhoneAlternate" type="text" placeholder="...not necessary" />
        </label>

        <label asp-for="Email">Email: 
            <input asp-for="Email" type="text" placeholder="Em@il..." required />
        </label>
        <label asp-for="Description">Description: </label>
        <textarea class="contacts_edit_description" asp-for="Description" type="text" placeholder=" Enter description" required></textarea>
        


        <button class="btn_confirm" id="btn_contact_confirm" type="submit" asp-controller="Contact" asp-action="Create">Create</button>
    </div>
</form>